name: Docs

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - run: pip install mkdocs-material
    - run: cd docs/mkdocs && mkdocs build --site-dir ../../site
    - uses: actions/upload-pages-artifact@v3
      with:
        path: site
    - id: deployment
      uses: actions/deploy-pages@v4
